{% extends 'navigation.html' %}
{% block body %}
{% load static %}
<div class="container" style="background-color:rgb(31, 41, 55); padding:20px; margin-top:5%; border-radius:10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
    <h2 style=" color:#00bfff; text-align:center;">Change Password</h2>
    <hr style="border-color:#00bfff;">

    <div class="container-fluid" style="width:70%; margin-top:2%;">
        <form method="post" action="">
            {% csrf_token %}
            <div class="form-group">
                <label for="oldPassword" style="color:#ffffff;">Old Password</label>
                <input type="password" class="form-control" id="oldPassword" name="pwd3" style="background-color:#333333; color:#ffffff; border-color:#00bfff;">
            </div>

            <div class="form-group">
                <label for="newPassword" style="color:#ffffff;">New Password</label>
                <input type="password" class="form-control" id="newPassword" name="pwd1" style="background-color:#333333; color:#ffffff; border-color:#00bfff;">
            </div>

            <div class="form-group">
                <label for="confirmPassword" style="color:#ffffff;">Confirm Password</label>
                <input type="password" class="form-control" id="confirmPassword" name="pwd2" style="background-color:#333333; color:#ffffff; border-color:#00bfff;">
            </div>
            <button type="submit" class="btn btn-primary" style="background-color:#00bfff; border:none;">Submit</button>
        </form>
    </div>
</div>

{% if terror == "yes" %}
<script>
    alert('Password Changed.....');
    window.location=('{% url 'logout' %}')
</script>
{% endif %}
{% if terror == "not" %}
<script>
    alert('New Password and Confirm Password do not match');
</script>
{% endif %}

{% endblock %}
